:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --button-background: rgb(136, 197, 233);
    --link-text-colour: #f3f6f8;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --default-font-family: "Poppins", sans-serif;
  }
  
  body {
    margin-top: 100px;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
    color: 'black';
    font-family: 'var(--heading-font-family)';
    font-weight: bold;
  }
  
  h1 {
    font-size: 96px;
  }
  
  h2 {
    font-size: 48px;
  }
  @media (max-width: 576px) {
    h2 {
      text-align: center;
      font-size: 30px;
    }
  }
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  @media (max-width: 576px) {
    p {
      text-align: center;
    }
  }
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
  }
  @media (max-width: 768px) {
    .navigation-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      width: 100%;
      text-align: center;
    }
  }

  
  .primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .secondary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .about-paragraphs {
    margin: 30px 0;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }
  @media (max-width: 900px) {
    .project-desciption {
        padding: 0;
        text-align: center;
    }
}

 .project-desciption {
    padding: 120px 60px;
}
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  .col-6 {
    flex: 0 0 auto;
    width: 50%;
 }
 .img-fluid {
  max-width: 100%;
  height: auto;
}
  
.learn-more-about-me {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.learn-more-about-me a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-details {
  background-color: var(--button-background);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-navigator {
  color: var(--primary-color);
  border: 1px solid var(--button-background);
  
}


a:hover {
  color: #24527a;
}

.home-link,
.email-link {
  text-align: center;
}

.home-link {
  text-decoration: underline;
}

.email-link {
  font-size: 28px;
}

.about-paragraphs{
  display: flex;
  margin: 30px 0;
  background: var(--button-background);
  padding: 20px;
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
}
.about-paragraphs p {
  margin: 10px;
}
.btn-branding {
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}